HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

*.class

### STS ###
.apt_generated
.classpath
.factorypath
.springBeans
.sts4-cache
.settings
.project

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/